echo "node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

jspm_packages/
.bower_components/

.npm

.node_repl_history

*.tsbuildinfo

*.tgz


pids
*.pid
*.seed
*.pid.lock

build/
dist/
tmp/
temp/

.DS_Store
*.pem
*.p12
*.key
*.crt
*.cer
*.der

.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.DS_Store
.AppleDouble
.LSOverride" > .gitignore
node_modules
