.popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    // display: none;

    svg {
        position: absolute;
        top: 2rem;
        right: 2rem;
        fill: #fff;
        cursor: pointer;
        font-size: 20px;
        z-index: 100;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #fff;
        border-radius: 5px;
        width: 750px;
        object-fit: cover;

        @media (max-width: 768px) {
            width: 95%;
        }
    }
}
