
.previewContainer img {
    padding-top: 10px;
}

.deleteIcon{
    cursor: pointer;
    position: absolute;
    color: #000;
    left: 102px;
    height: 18px;
    margin-top: 10px;
    background-color: #D3D3D3;
}

